body {
    font-family: 'Inter', sans-serif;
    background-color: #fafafa;
}

.navbar-custom {
    background-color: #5500FF;
}

.navbar-nav {
    margin: auto;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 8px 2px;
    margin: 0px 10px;
    color: rgba(255, 255, 255, 0.75);
}

@media(max-width: 991px) {
    .navbar-dark .navbar-nav .nav-link {
        display: inline-block;
        padding: 3px 2px;
        margin: 5px 10px;
    }
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
    color: white;
    border-bottom: 2px solid white;
    font-weight: 500;
}

.navbar-toggler {
    border: none;
}

.titulo-pagina {
    display: flex;
    justify-content: center;
    margin: 65px 0 0 0;
    padding: 50px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2.75em;
}

@media(max-width: 991px) {
    .titulo-pagina {
        padding: 30px 0 0 0;
    }
}