.coluna-usuario, .coluna-orgao {
    padding: 30px 30px;
}

@media(min-width: 992px) {
    .coluna-usuario {
        border-right: 1px solid rgba(0, 0, 0, 0.125);
    }
}

@media(max-width: 991px) {
    .coluna-usuario {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
}

form label {
    text-transform: lowercase;
}

.div-pesquisa {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-pesquisa {
    width: 100%;
}

.item-form {
    margin: 0 0 0 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 7px;
    height: 37px;
    padding: 25px 15px;
}

button, .botao-pesquisa {
    background-color: #5500FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons {
    color: white;
}

.div-info {
    padding: 0;
    margin: 0;
    
}
.card {
    width: 80%;
    margin: auto;
    margin-top: 2.5em;
    text-align: center;
    border-radius: 7px;
}

.card-body {
    padding: 0;
    border-radius: 7px;
}

.card-title {
    background-color: #eeeeee;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    border-radius: 7px 7px 0 0;
    font-size: 1em;
    text-transform: lowercase;
}

.card-text {
    padding: 10px;
    font-size: 2em;
    font-weight: 900;
}

.status-icon {
    color: #52C41A;
}