/* .coluna-usuario, .coluna-orgao {
    padding: 30px 30px;
}

@media(min-width: 992px) {
    .coluna-usuario {
        border-right: 1px solid rgba(0, 0, 0, 0.125);
    }
}

@media(max-width: 991px) {
    .coluna-usuario {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
} */

@media(max-width: 991px) {
    .titulo-pagina {
        padding: 30px 0 30px 0;
    }
}

.div-pesquisa {
    padding: 0;
    margin: 0 0 25px 0;
    display: flex;
    justify-content: space-around;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
}

form label {
    text-transform: lowercase;
}

.barra-pesquisa {
    width: 100%;
}

.item-form {
    margin: 0 0 0 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 7px;
    height: 37px;
    padding: 25px 15px;
}

button, .botao-pesquisa {
    background-color: #5500FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-botao-adicionar {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 25px 0;
}

.botao-adicionar {
    background-color: #5500FF;
    color: white;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    text-transform: lowercase;
}

.form-checkbox {
    display: flex;
    align-items: center;
}

.div-botao-desativados {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 25px 0;
}

.label-desativados {
    margin: 0 10px 0 0;
    text-align: right;
}

.botao-desativados {
    min-width: 15px;
    min-height: 15px;
}

/* #Adicionar {
    background-color: #5500FF;
    color: white;
    display: flex;
    justify-content: left;
    align-items: left;
    position:absolute; 
    top:36%;
    left:7%;
    transform: translate(-50%, -50%);
} */

/* button, .botao-espaco {
    background-color: transparent;
    color: transparent;
    border-color: transparent;
    display: flex;
    justify-content: left;
    align-items: left;
} */

/* #Logar {
    background-color: #5500FF;
    border-color: #5500FF;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: white;
} */

/* #card-header {
    background-color:orange;
    color:white

} */

/* #Layout-BT {
    background-color:whitesmoke;
    color: darkorange;
    border-color: whitesmoke;

} */

.material-icons {
    color: white;
}

/* .div-info {
    padding: 0;
    margin: 0;
} */

.status-icon {
    color: #52C41A;
    font-size: 12px;
}

.status-icon-off {
    color: #F5222D;
    font-size: 12px;
}

#Table {
    margin: auto auto;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-left: none;
    border-right: none;
    width: 100%;
    font-size: 14px;
}   

/* #Cabecalho {
    background-color: #bfbfbf;
    color: black;

}    */
/* 
#buttonAdd {
    align-self: lef;
} */







.cabecalho-tabela {
    background-color: #eeeeee;
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.table-id {
    padding: 0 15px;
    /* background-color: red; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.table-cliente {
    /* background-color: blue; */
    padding: 0 15px;
    text-align: start;
}

.table-protocolos {
    padding: 0 15px;
}

.table-email {
    padding: 0 15px;
    text-align: start;
}

.table-ativo {
    padding: 0 15px;
}

.table-backoffice {
    padding: 0 15px;
}

.table-idnetwork {
    padding: 0 15px;
}

.table-ativo, .table-backoffice, .table-idnetwork, .table-func3, .table-func4 {
    width: 110px;
}

.table-acoes {
    padding: 0 15px;
    margin: auto auto;
}

td button {
    background-color: #5500FF;
    border: none;
    color: white;
    margin: auto auto;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: lowercase;
}

table td {
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    /* padding: 10px 0; */
    /* margin: 10px 0; */
}